body {
  margin: 20% auto;
  width: 50%;
  height: 75%;
  grid-area: body;
  grid-template-columns: auto auto;
  grid-template-rows:auto auto;
  grid-template-areas: 

  ;
}
div {
  grid-area: div;

}